 .flex-container {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 30px 0px;
     color: rgb(60, 60, 60);
     z-index: 10;
     margin-top: -20px;
 }
 .flex-items {
     margin: 5px;
     color: rgb(123, 123, 123);
     font-weight: 200;
     font-size: 15px;
     font-style: normal;
     font-family: Arial, Helvetica, sans-serif;
 }
 .items {
     display: flex;
     column-gap: 60px;
     gap: 30px;
 }

 body {
     margin: 0;
     padding: 0;
 }

 button {
     height: 24px;
     margin-top: 13px;
     color: white;
     background-color: rgb(0, 124, 37);
     border: 1px;
     border-radius: 5px;
     font-size: 17px;
     margin-top: -10px;
 }
 .op{
    margin-left: 40px;
 }
 .theodin{
    margin-left: -600px;
 }
 .main-block {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     display: flex;
     justify-content: space-between;
     text-align: center;
     color: rgb(0, 0, 0);
     z-index: 10;
     font-size: 30px;
     line-height: 20px;
 }
 .onpase{
    background-color: white;
    color: black;
    
 }
 .block{
    margin-left: 100px;
    margin-top: 200px;
 }
 .lin{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .pin{
    font-size: 23px;
    width: 600px;
    margin-left: 400px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(145, 144, 144);
 }
 .homepic{
    width: 1520px;
    margin-left: -99px;
 }
 .lint{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
 }
 .lint::first-line{
    color: rgb(0, 0, 0);
 }
.nint{
    color: rgb(169, 109, 36);
    font-family: Arial, Helvetica, sans-serif;
}
.rin{
    display: flex;
    gap: 18px;
    margin-left: 200px;
}
.ann{
   display: flex;
   justify-content: center;
}
.win{
   text-align: center;
   font-size: 22px;
   width: 1000px;
   margin-left: 200px;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(145, 144, 144);
}
.homepic1{
   width: 200px;
}
.zzb{
   width: 300px;
   font-size: 17px;
   text-align: center;
}
.homepic2{
   width: 100px;
}
.xxn{
   color: black;
}
.explo{
   background-color: rgb(243, 241, 241);
   height: 900px;
}
.hedd{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 35px;
   text-align: center;
}
.homepic5{
   width: 150px;
}
.rrt{
   display: flex;
}
.kin{
   width: 200px;
   height: 200px;
   background-color: white;
}
.wwn{
   text-align: center;
}
.bpu{
   width: 200px;
   height: 50px;
   margin-top: 13px;
   color: rgb(0, 0, 0);
   background-color: rgb(255, 255, 255);
   border: 1px;
   border-radius: 5px;
   font-size: 17px;
}